<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="JavaFinal"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.javafinal.com.Users.SettingsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.javafinal.com.Users.MainPageActivity"
            android:exported="false"
            android:label="@string/title_activity_main_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.javafinal.com.Admin.AdminsCategoryActivity"
            android:exported="false" />
        <activity
            android:name="com.example.javafinal.com.Admin.AdminsNewProductActivity"
            android:exported="false" />
        <activity
            android:name=".com.example.shop.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".com.example.shop.Welcome_page"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".com.example.shop.LoginActivity" />
    </application>

</manifest>